body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
    background-color: #AAAAAA;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #AAAAAA;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    flex: 1;
}

h1 {
    margin-top: 0;
}

#content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex: 1 0 auto;
    min-height: 100vh;
}

#add-new-button {
    margin-bottom: 30px;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

.table th > p {
    margin: auto;
}

.table-image {
    width: 10%;
}

.table-name {
    width: 10%;
}

.table-rating {
    width: 10%;
}

.table-description {
    width: 55%;
}

.table-buttons {
    width: 15%;
}

