$default-font-size: 16px;
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: $default-font-size;
}

%box {
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
}

.box1 {
    @extend %box;
}

.box2 {
    @extend %box;
}

.boxContainer:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 100px;
}

#hamburger {
    height: 50px;
    margin-right: 40px;
    position: absolute;
    right: 0;
    margin-right: 40px;
    display: none;
}

@media screen and (max-width: 1024px) {
    .box1 {
        width: 100%;
    }
    .box2 {
        width: 50%;
    }
    #hamburger {
        display: inline;
    }
    .navbar {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .box1 {
        width: 100%;
    }
    .box2 {
        width: 100%;
    }
    #pageTitle {
        display: none;
    }
}

.footer {
    border: 2px solid black;
    height: 100px;
    text-align: center;
    background-color: rgb(101, 160, 121);
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.push {
    height: 100px;
}

.boxContainer {
    min-height: 90%;
    padding: 20px 20px 20px 20px;
    margin-bottom: -100px;
}

.header {
    height: 10%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    height: 100%;
    margin-right: 20px;
    //border: 2px dotted green;
}

h1 {
    font-size: $default-font-size * 2;
    margin: 0;
}

h2 {
    font-size: $default-font-size * 1.5;
}

.innerBox {
    border: 2px solid black;
    background-color: rgb(101, 160, 121);
    padding-bottom: 40px;
}

.titleContainer {
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    float: right;
    background-color: orangered;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin-right: 40px;
    //border: 2px solid black;
}

.navbarItem {
    //border: 2px dotted black;
    margin: 0 10px 0 10px;
}

.navbarItem p {
    //border: 2px dotted blue;
    margin-top: 0;
    margin-bottom: 20px;
}

.footerContent p {
    margin: 5px;
}